.overlay{
    background: rgba(242, 243, 245, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container{
    width: 100%;
    max-width: 480px;
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0 0 68px rgba(0, 0, 0, 0.85);
    text-align: center;
    position: relative;
    margin: auto;
}